* {
box-sizing: border-box;
margin: 0;
padding: 0;
}

/* Generiche, body e wrapper */
body {
  font-family: 'Roboto', sans-serif;
}

#wrapper {
  background-color: peachpuff;
  border: 5px solid lightblue;
  width: 80%;
  margin: auto;
}
/* fine generiche, body e wrapper */

/* Header */
header {
  padding: 10px;
}

input#search-input {
  width: 300px;
}

input#cerca,
input#search-input {
  padding: 5px;
  border-radius: 7px;
  border: none;
  outline: none;
}
/* fine header */

/* Main */
ul#movies {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
}

.single-movie {
  padding: 20px 3px;
  border: 2px solid black;
  width: 180px;
  margin: 10px 5px 20px 10px;
  position: relative;
}

.single-movie .type-label {
  position: absolute;
  top: 0;
  right: 0;
  text-align: right;
  padding: 5px;
  font-size: 10px;
  text-transform: capitalize;
  color: white;
}

.single-movie .type-label.film {
  background-color: green;
}

.single-movie .type-label.tv {
  background-color: red;
}

.single-movie .titolo {
  height: 100px;
  text-align: center;
  font-size: 15px;
}

.single-movie .immagine-poster {
  width: 154px;
  height: 231px;
  margin: auto;
  background-color: white;
}

.single-movie .titolo-og {
  height: 80px;
}

.single-movie .lingua-og {
  height: 30px;
}

.single-movie .lingua-og img {
  width: 20px;
  height: auto;
  vertical-align: middle;
}

.single-movie .voto {
  font-size: 17px;
  text-align: center;
}

.single-movie .voto .stars {
  font-size: 10px;
}
/* fine main */
