* {
box-sizing: border-box;
margin: 0;
padding: 0;
}

/* Generiche, body e wrapper */
.d-none {
  display: none;
}

.totalOpacity {
  opacity: 0;
}

body {
  font-family: 'Roboto', sans-serif;
}

#wrapper {
  background-color: #000;
  width: 100%;
  height: 100vh;
  overflow-y: auto;
}
/* fine generiche, body e wrapper */

/* Header */
header {
  width: 100%;
  text-align: center;
}

header #logo img {
  width: 200px;
  height: auto;
  padding: 20px 0 10px 0;
}

input#search-input {
  width: 30%;
  margin-right: 10px;
}

input#cerca,
input#search-input {
  padding: 5px;
  border-radius: 7px;
  border: none;
  outline: none;
}

input#cerca {
  background-color: red;
  color: #fff;
  font-size: 15px;
  cursor: pointer;
}
/* fine header */

/* Main */
main {
  color: #fff;
}

main section {
  width: 100%;
  position: relative;
}

main section h2,
main section > p {
  padding-left: 30px;
}

#tv-section {
  margin: 20px 0;
}

ul#movies,
ul#tv-series {
  width: 100%;
  padding: 0 10px;
  list-style: none;
  display: flex;
  overflow-x: auto;
  scroll-behavior: smooth;
}

section > i {
  position: absolute;
  z-index: 1;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  transition: all 0.4s ease;
  font-size: 30px;
  color: #fff;
}

section > i:hover {
  color: red;
  opacity: 1;
}

.fa-chevron-circle-left {
  left: 10px;
}

.fa-chevron-circle-right {
  right: 10px;
}

/* Single-movie */
.single-movie {
  position: relative;
  padding: 20px;
  border: 2px solid black;
  width: 185px;
  height: 278px;
  margin: 10px 40px 20px 0;
  text-align: center;
  flex-shrink: 0;
}

.single-movie .titolo {
  height: 100px;
  font-size: 15px;
}

.single-movie .immagine-poster {
  position: absolute;
  top: -2px;
  left: -2px;
  width: 185px;
  height: 278px;
  transition: opacity 0.5s ease;
}

.single-movie:hover .immagine-poster {
  opacity: 0.2;
}

.single-movie .immagine-poster img {
  width: 185px;
  height: 100%;
}

.single-movie .titolo-og {
  height: 80px;
}

.single-movie .lingua-og {
  height: 30px;
}

.single-movie .lingua-og img {
  width: 20px;
  height: auto;
  vertical-align: middle;
}

.single-movie .voto {
  font-size: 12px;
}

.single-movie .voto .stars {
  font-size: 10px;
}
/* fine single-movie */
/* fine main */
